* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.natureButtons {
    margin: 10px 10px 10px 0px;
}

.gif-container {
    width: 70%;
    float: left;
}

.imgClass {
    padding: 10px;
}

#nature-form {
    width: 30%;
    padding-left: 10px;
    padding-top: 30px;
    float: right;
}

#nature-input {
    width: 80%;
}

.image-div {
    display: inline-block
}

.display-rating {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
}